[submodule "Large Language Models/VegaChatBotAPP"]
	path = Large Language Models/VegaChatBotAPP
	url = https://github.com/BrujitoOz/VegaChatBotAPP.git
[submodule "Large Language Models/LostPetAssistant"]
	path = Large Language Models/LostPetAssistant
	url = https://github.com/BrujitoOz/LostPetAssistant.git
