
<h1>Employee Details</h1>

<button type="button" name="button" (click)='getInfoFromServiceClass1()'> 
    Employee1
</button>
<ul class="list-group">
    <li *ngFor = "let info of infoRecived1" class="list-group-item">
        {{info}}
    </li>
</ul>



<button type="button" name="button" (click)='getInfoFromServiceClass2()'> 
    Employee2
</button>
<ul class="list-group">
    <li *ngFor = "let info of infoRecived2" class="list-group-item">
        {{info}}
    </li>
</ul>




<button type="button" name="button" (click)='getInfoFromServiceClass3()'> 
    Employee3
</button>
<ul class="list-group">
    <li *ngFor = "let info of infoRecived3" class="list-group-item">
        {{info}}
    </li>
</ul>